* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-auto-columns: minmax(10rem, auto) ; */
    /* grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr)); */
    gap: 1rem;
    justify-content: space-evenly;
}

div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: .5rem;
    row-gap: .25rem;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
    width: auto;
}

p {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 2em;
}

.toggled {
    background-color: chartreuse;
}